<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <title>Projeto II Univesp</title>
  </head>
  <body>
    <h1>Olá, </h1>
    <p>Este é o Projeto II criado pelos alunos da Univesp. Neste projeto iremos abordar uma aplicação de acompanhamento de investimentos.</p>
  </body>
  <body>
    <h1>
    Primeiramente, faça o seu login: <a href="{{ url_for('login') }}">Faça login</a>
    </h1>
    <h1> Não possui conta? faça seu cadastro: <a href="{{ url_for('register') }}">Cadastrar-se</a>
    </h1>

  </body>
</html>